/*тут был машан*/
body{
	background-color: #0e182c;
	margin:0;
	font-size: 17px;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
/***********************************header******************************/
header a {
	color:#fff;
	text-decoration: none;
}
header a:hover{
	color:#38c8d7;
}
.space{
	width:100%;
	height:6em;
	background-color: #070b14;
}
header{
	width:100%;
	height:6em;
	color:#fff;
	position:fixed;
	top:0;
	border-bottom: 1px solid #0191df;
	background-color: rgba(7, 11, 20, 0.7);
	flex-direction: row;
	display:flex;
	font-weight: 500;
	z-index: 9999;
}
.logo img{
	height:3.5em;
	margin: 1em 0 0 1em;
}
header .mail img{
	height:2em;
	margin: 1.4em 0 0 0.5em;
}
header ul{
	list-style: none;
	flex-direction: row;
	display:flex;
}
header ul li{
	margin:0.5em;
}
header .menu{
	width:90%;
	display:flex;
	justify-content: flex-end;
	margin-right:2em;
	position:relative;
	top:0.8em;
}

/***********************************Banner******************************/
.banner {
	position: relative;
}
.move {
	background: url(../img/cube.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 1;
}
.dust1 {
	background: url(../img/dust1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 2;
}
.dust2 {
	background: url(../img/dust2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 3;
}
.dust3 {
	background: url(../img/dust3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 4;
}
.dust4 {
	background: url(../img/dust4.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 5;
}
.text {
	text-align: center;
	color: #ffffff;
	position: relative;
}
.text h1 {
	position: absolute;
	left: 57%;
	top: 100px;
	font-size: 3rem;
}
.text .small_text p{
	position: absolute;
	left: 56%;
	top: 350px;
	font-size: 1.3rem;
}
.slider_banner {
	position: absolute;
	max-width: 150px;
	left: 68.5%;
	top: 260px;
	font-size: 3rem;
	color: #30c7d9;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: #ffffff 2px 0px, #ffffff 2px 2px, 
	#ffffff 0px 2px, #ffffff -2px 2px, #ffffff -2px 0px, 
	#ffffff -2px -2px, #ffffff 0px -2px, #ffffff 2px -2px;
}
/***********************************Jobs******************************/
.jobs {
	height: 100px;
}
/***********************************Process******************************/
.slider_process .sl .sl_img {
	width: 100%;
}
.sl_slide {
	position: relative;
	color: #ffffff;
}
.sl_text {
	position: absolute;
	top: 100px;
	width: 40%;
	margin-left: 5%;
}
.sl_text h3{
	font-size: 2rem;
	text-transform: uppercase;
}
.button {
color: rgb(230, 230, 230);
font-size: 15px;
padding: 10px;
border: 1px solid #ffffff;
outline: none;
}
.slider_process .sl .sl_text a{
	text-decoration: none;
}
.slick-dotted.slick-slider {
	margin-bottom: 80px;
}
.slick-dots li {
	margin: 100px 5% 0 5%;

}
.slick-dots li button {
	border: 10px solid #00589c;
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
.slick-dots li button:before {
	content: "";
}
.slick-dots li button:hover {
	border-color: #d6e4ef;
}
.slick-dots li button:hover:before {
	background: #a1bcd3;
	opacity: 1;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -1px;
}
.slider_process {
	position: relative;
}
.process {
	font-size: 1.7rem;
	position: absolute;
	text-transform: uppercase;
	top: -60px;
	border-top: 1px solid #27507e;
	border-left: 1px solid #27507e;
	border-right: 1px solid #27507e;
	right: 0;
	color: #ffffff;
	padding: 10px 15px;
}
/*******************************footer***********************************/
footer{
	background-color:#070b14;
	flex-wrap:wrap;
	color:#fff;
	font-weight: 500;
	display: flex;
	justify-content: row;
}
footer .logo{
	height:4em;
	position: relative;
	flex-basis:12em;
	margin:5em 5em 0 5em;
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color:#38c8d7; 
}
footer ul{
	display: inline-flex;
	flex-direction:column;
	flex-basis:12em;
	padding-left:1em;
	height:8em;
	list-style: none;
	border-left:1px solid #fff;
	margin:5em 4em 4em 2em;
}
footer .mail{
	height:2.5em;
}
footer li{
	margin:1em 0 0 1em;
}
.copyr{
	color:#fff;
	font-size: 0.6em;
	width:100%;
	display:flex;
	justify-content: flex-end;
}

.smt{
	height:300em;
}
/*тут был машан*/
















