/*тут был машан*/
body{
	background-color: #070b15;
	margin:0;
	font-size: 17px;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
/***********************************header******************************/
header a {
	color:#fff;
	text-decoration: none;
}
header a:hover{
	color:#38c8d7;
}
.space{
	width:100%;
	height:6em;
	background-color: #070b14;
}
header{
	width:100%;
	height:6em;
	color:#fff;
	position:fixed;
	top:0;
	border-bottom: 1px solid #0191df;
	background-color: rgba(7, 11, 20, 0.7);
	flex-direction: row;
	display:flex;
	font-weight: 500;
	z-index: 9999;
}
.logo img{
	height:3.5em;
	margin: 1em 0 0 1em;
}
header .mail img{
	height:2em;
	margin: 0em 0 0 0.5em;
}
header ul{
	list-style: none;
	flex-direction: row;
	display:flex;
}
header ul li{
	margin:0.5em;
}
header .menu{
	width:90%;
	display:flex;
	justify-content: flex-end;
	margin-right:2em;
	position:relative;
	top:0.8em;
}
/***************************SUB_MENU***********************/
@media (max-width: 660px) {
	.space {
		display: none;
	}
	header {
		height: 6em;
		position: static;
	}

	header ul {
		flex-direction: column;
	}
	header ul li:nth-child(5) {
		order:-1;
	}
}


/***********************************Banner******************************/
.banner {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
}
.move {
	background: url(../img/bg_cube.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	z-index: 1;
}
.cube {
	background: url(../img/cube.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 0;
}
.dust1 {
	background: url(../img/dust1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 3;
}
.dust2 {
	background: url(../img/dust2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 4;
}
.dust3 {
	background: url(../img/dust3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 5;
}
.dust4 {
	background: url(../img/dust4.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 6;
}
.text {
	text-align: center;
	color: #ffffff;
	position: relative;
	z-index: 1;
	margin-left: 50%;
	padding: 0;
}
.text h1 {
	position: absolute;
	top: 100px;
	font-size: 3rem;
	margin: 0;
	padding-top: 50px;
	/*padding-bottom: 10px;*/
}
.text .small_text p{
	position: absolute;
	top: 350px;
	font-size: 1.3rem;
}
.slider_banner {
	position: absolute;
	max-width: 150px;
	left: 25%;
	top: 260px;
	font-size: 3rem;
	color: #30c7d9;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 30px;
	text-shadow: #ffffff 2px 0px, #ffffff 2px 2px, 
	#ffffff 0px 2px, #ffffff -2px 2px, #ffffff -2px 0px, 
	#ffffff -2px -2px, #ffffff 0px -2px, #ffffff 2px -2px;
}
@media (max-width: 1050px) {
	.text h1 {
		position: static;
	}
	.text .small_text p{
		position: static;
	}
	.slider_banner {
		position: static;
		margin: 0 auto;
	}
	.move {
		height: 500px;
	}
	.dust1, .dust2, .dust3, .dust4 {
		height: 550px;
	}

	.text {	
		position: absolute;
		top: 200px;
		margin-left: 40%;
	}

}
@media (max-width: 980px) {
	.text {
		margin-left: 30%;
	}
	.text h1 {
		position: static;
	}
	.text .small_text p{
		position: static;
	}
	.slider_banner {
		position: static;
		margin: 0 auto;
	}
}
@media (max-width: 760px) {
	.text {
		margin-left: 5%;
	}
}
/*выключение куба*/
@media (max-width: 660px) {
	/*выключение куба***********************************/
	#scene4 {
		display: none;
	}
	/*выключение куба***********************************/
	.text {
		margin-left: 5%;
		margin-top: 100px;
	}
}
@media (max-width: 560px) {
	.text {
		margin-left: 1%;
	}
}
@media (max-width: 440px) {
	.text h1{
		padding-top: 0;
		font-size: 2rem;
	}
}
.banner {
	padding-bottom: 200px;
}
/***********************************Jobs******************************/
.jobs {
	height: 100px;
}
/***********************************Process******************************/
.slider_process {
	width: 100%;
	margin: 0 auto;
}

.sl{
	background: rgb(17, 26, 43);
	background: -moz-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: -webkit-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: -o-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: -ms-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: linear-gradient(120deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	border: 1px solid #27507e;
}
.slider_process .sl .sl_img {
	width: 100%;
	margin: 0;
	padding: 0;
}
.sl_slide {
	position: relative;
	color: #ffffff;
	outline: none;
}
.sl_text {
	position: absolute;
	top: 1px;
	width: 60%;
	margin-left: 5%;
}
.sl_text h3{
	font-size: 3rem;
	text-transform: uppercase;
}
.sl_text p {
	margin-bottom: 50px;
	font-size: 1.5rem;
}
.button {
	color: rgb(230, 230, 230);
	font-size: 15px;
	padding: 20px 80px;
	border: 1px solid #ffffff;
	outline: none;
	font-size: 1.5rem;
}
.slider_process .sl .sl_text a{
	text-decoration: none;
}
.slick-dotted.slick-slider {
	margin-bottom: 50px;
}
.slick-dots { 
	position: static;
	padding-bottom: 60px;
	margin-top: -50px;
}
.slick-dots li {
	margin: 100px 5% 0 5%;

}
.slick-dots li button {
	border: 10px solid #00589c;
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
.slick-dots li button:before {
	content: "";
}
.slick-dots li button:hover {
	border-color: #d6e4ef;
}
.slick-dots li button:hover:before {
	background: #a1bcd3;
	opacity: 1;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -1px 0 0 -1px;
}
.slider_process {
	position: relative;
}
.process {
	text-align: center;
	font-size: 1.7rem;
	text-transform: uppercase;
	border-top: 1px solid #27507e;
	border-left: 1px solid #27507e;
	border-right: 1px solid #27507e;
	color: #ffffff;
	padding: 15px;
	margin-left: 50%;
	background: rgb(17, 26, 43);
	background: -moz-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: -webkit-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: -o-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: -ms-linear-gradient(30deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
	background: linear-gradient(120deg, rgb(17, 26, 43) 30%, rgb(9, 15, 26) 70%);
}
@media all and (min-width: 1900px) {
	.sl_text h3{
		font-size: 4rem;
	}
	.sl_text p {
		font-size: 2rem;
		margin-bottom: 100px;
	}
}
@media (max-width: 1200px) {
	.sl_text {
		width: 60%;
	}
	.sl_text h3 {
		margin: 0;
		font-size: 2rem;
	}
	.sl_text p {
		margin-bottom: 50px;
	}
	.button {
		color: rgb(230, 230, 230);
		font-size: 15px;
		padding: 20px 80px;
		border: 1px solid #ffffff;
		outline: none;
	}
}

@media (max-width: 1097px) {
	.sl_text h3 {
		font-size: 2rem;
	}
	.sl_text p {
		font-size: 1.3rem;
	}
	.process {
		width: 47%;
	}
}
@media (min-width: 961px) and (max-width: 990px) {
	.sl_text p {
		margin-bottom: 20px;
	}
}
@media (max-width: 960px) {
	.sl_text {
		width: 90%;
		text-align: center;
	}
	.sl_text p {
		font-size: 1rem;
	}
	.process {
		margin: 0;
		width: 100%;
		padding: 15px 0;
	}
}
@media (min-width: 691px) and (max-width: 740px) {
	.sl_text p {
		margin-bottom: 20px;
	}
}
@media (max-width: 690px) {
	.slider_process .sl .sl_img {
		height: 350px;
	}
}
/*******************************partners****************************/
.slider_partners {
	max-width: 100%;
	margin: 0 auto;
}
.partners {
	font-size: 1.7rem;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding-bottom: 10px;
}
.sl_partners {
	font-size: 3rem;
	background: rgb(48, 65, 89);
	background: -moz-linear-gradient(30deg, rgb(48, 65, 89) 30%, rgb(65, 95, 138) 70%);
	background: -webkit-linear-gradient(30deg, rgb(48, 65, 89) 30%, rgb(65, 95, 138) 70%);
	background: -o-linear-gradient(30deg, rgb(48, 65, 89) 30%, rgb(65, 95, 138) 70%);
	background: -ms-linear-gradient(30deg, rgb(48, 65, 89) 30%, rgb(65, 95, 138) 70%);
	background: linear-gradient(120deg, rgb(48, 65, 89) 30%, rgb(65, 95, 138) 70%);
}
.partners_slide {
	text-align: center;
	outline: none;
}
/*******************************footer***********************************/
footer{
	background-color:#070b14;
	color:#fff;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 50px;
}

footer .logo_ink img, 
footer .logo_imt img {
	height: 3.5em;
	margin: 1em;
}
footer .logo_imt img {
	/*background: rgb(65, 95, 138);*/
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color:#38c8d7; 
}
footer ul{
	padding-left:1em;
	list-style: none;
	border-left:1px solid #fff;
}
footer .footer_menu {
	padding-right: 100px;
}
footer .mail{
	height:2.5em;
}
footer li:first-child {
	margin:0 0 0 1em;
}
footer li{
	margin:1em 0 0 1em;
}
@media (max-width: 960px) {
	footer .logo_ink, 
	.footer_menu, 
	.footer_contacts,
	footer .logo_imt {
		width: 33%;
	}
	.footer_menu, 
	.footer_contacts {
		order: 1;
	}

	footer .logo_ink, 
	footer .logo_imt {
		order: 2;
	}
	.footer_menu,
	.footer_contacts,
	footer .logo_ink, 
	footer .logo_imt {
		margin: 40px auto;
	}
	footer .footer_menu {
		padding-right: 0;
	}
}
@media (max-width: 600px) {
	footer {
		padding-top: 10px;
	}
	.footer_menu, 
	.footer_contacts {
		width: 70%;
		margin: 20px auto;
	}
	footer .logo_ink {
		order: 0;
	}
}
.copyr{
	color:#fff;
	font-size: 0.6em;
	width:100%;
	margin-right: 20px;
	text-align: right;
	order: 10;
}
.smt{
	height:300em;
}
/*тут был машан*/
















