/*тут был машан*/
body{
	background-color: #202532;
	margin:0;
	font-size: 17px;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
/***********************************header******************************/
header a {
	color:#fff;
	text-decoration: none;
}
header a:hover{
	color:#38c8d7;
}
.space{
	width:100%;
	height:6em;
	background-color: #070b14;
	
}
header{
	width:100%;
	height:6em;
	color:#fff;
	position:fixed;
	top:0;
	border-bottom: 1px solid #0191df;
	background-color: rgba(7, 11, 20, 0.7);
	flex-direction: row;
	display:flex;
	font-weight: 500;
	z-index: 9999;
}

.logo img{
	height:3.5em;
	margin: 1em 0 0 1em;
}
header .mail img{
	height:2em;
	margin: 1.4em 0 0 0.5em;
}
header ul{
	list-style: none;
	flex-direction: row;
	display:flex;
}
header ul li{
	margin:0.5em;
}
header .menu{
	width:90%;
	display:flex;
	justify-content: flex-end;
	margin-right:2em;
	position:relative;
	top:0.8em;
}

/***********************************Banner******************************/

.banner {
	position: relative;
}

.move {
	background: url(../img/cube.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: 1;
}

.dust1 {
	background: url(../img/dust1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 2;
}

.dust2 {
	background: url(../img/dust2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 3;
}

.dust3 {
	background: url(../img/dust3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 4;
}

.dust4 {
	background: url(../img/dust4.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 101%;
	height: 650px;
	z-index: 5;
	position: relative;
}

.text {
	text-align: center;
}

.text h1 {
	text-transform: uppercase;
	color: #ffffff;
	position: absolute;
	right: 10%;
	top: 100px;
	font-size: 2.5rem;
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;

}

/*******************************footer***********************************/
footer{
	background-color:#070b14;
	flex-wrap:wrap;
	color:#fff;
	font-weight: 500;
	display: flex;
	justify-content: row;
}
footer .logo{
	height:4em;
	position: relative;
	flex-basis:12em;
	margin:5em 5em 0 5em;
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color:#38c8d7; 
}
footer ul{
	display: inline-flex;
	flex-direction:column;
	flex-basis:12em;
	padding-left:1em;
	height:8em;
	list-style: none;
	border-left:1px solid #fff;
	margin:5em 4em 4em 2em;
}
footer .mail{
	height:2.5em;
}
footer li{
	margin:1em 0 0 1em;
}
.copyr{
	color:#fff;
	font-size: 0.6em;
	width:100%;
	display:flex;
	justify-content: flex-end;
}

.smt{
	height:300em;
}
/*тут был машан*/
















